<footer class="footer container">
    <div class="usd-logo"><img src="{{ site.baseurl }}/assets/img/usd_logo.png"  alt="USD logo" class="uv-logo" /></div></div>
    <div class="eu-logo"><img src="{{ site.baseurl }}/assets/img/eu_logo.png"  alt="EU co-funded logo" class="uv-logo" /></div></div>
    <p class="footer-text">In collaboration with</p>
    <div class="logos-container">
  <img src="{{ site.baseurl }}/assets/img/viko_logo.png" alt="Viko logo" class="uv-logo" />
  <img src="{{ site.baseurl }}/assets/img/savonia_logo.png"  alt="Savonia logo" class="uv-logo" />
  <img
  src="{{ site.baseurl }}/assets/img/upo_logo.png" 
    alt="UPO Logo"
    class="uv-logo"
  />
  <img src="{{ site.baseurl }}/assets/img/openods_logo.png"  alt="Open ODS logo" class="uv-logo" /></div>

</footer>
{% include scripts.html %}

</body>
</html>
