<div class="logos-container row pt-30">
    <div class="col-6 col-sm-3 social-icon container-image">
        <a href="">
            <img src="{{ site.baseurl }}/assets/img/social/twitter_logo.svg" alt="">
        </a>
    </div>
    <div class="col-6 col-sm-3 social-icon container-image">
        <a href="">
            <img src="{{ site.baseurl }}/assets/img/social/linkedin_logo.svg" alt="">
        </a>
    </div>
    <div class="col-6 col-sm-3 social-icon container-image">
        <a href="">
            <img src="{{ site.baseurl }}/assets/img/social/facebook_logo.svg" alt="">
        </a>
    </div>
    <div class="col-6 col-sm-3 social-icon container-image">
        <a href="">
            <img src="{{ site.baseurl }}/assets/img/social/instagram_logo.svg" alt="">
        </a>
    </div>
</div>