<div class="logos-container row">
    <div class="col-md-6 container-image">
        <a href="https://www.viko.net/">
            <img src="{{ site.baseurl }}/assets/img/viko_logo.png" alt="Viko logo" class="uv-logo" />
        </a>
    </div>
    <div class="col-md-6 container-image">
        <a href="https://www.savonia.fi/">
            <img src="{{ site.baseurl }}/assets/img/savonia_logo.png" alt="Savonia logo" class="uv-logo" />
        </a>
    </div>
    <div class="col-md-6 container-image">
        <a href="https://www.upo.es/">
            <img src="{{ site.baseurl }}/assets/img/upo_logo.png" alt="UPO Logo" class="uv-logo" />
        </a>
    </div>
    <div class="col-md-6 container-image">
        <a href="https://openods.es/">
            <img src="{{ site.baseurl }}/assets/img/openods_logo.png" alt="Open ODS logo" class="uv-logo" />
        </a>
    </div>
</div>